@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Sawarabi+Gothic&family=Sawarabi+Mincho&family=Zen+Kaku+Gothic+Antique&family=Zen+Kaku+Gothic+New:wght@400;500;700;900&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap");
body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
  font-size: clamp(14px, 1.6vw, 16px); }

input,
button {
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif; }

.title-h1 {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Zen Old Mincho", serif; }

.title-h2 {
  font-size: 4rem;
  font-weight: 800;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Zen Old Mincho", serif; }

.nav-links {
  font-size: 1.25rem;
  font-weight: 800;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Zen Old Mincho", serif; }

.mv-title {
  font-size: clamp(2.4rem, 6vw, 4rem);;
  font-weight: 800;
  font-family: "Zen Old Mincho", serif; }
  .mv-title span {
    font-size: 0.9rem; }

.modal-close {
  font-size: 1.8rem; }

.skill-flex .item .head {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Noto Sans JP", sans-serif; }
.skill-flex .item .skill-list {
  font-weight: 500; }

footer .heading {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Zen Old Mincho", serif; }
footer .mail {
  font-size: 1.25rem; }

.copyright {
  font-size: 0.8rem; }

@media screen and (max-width: 450px) {
  body {
    font-weight: 500; }

  .title-h1 {
    font-size: 1.5rem; }

  .title-h2 {
    font-size: 3rem; }

  .skill-flex .item .skill-list {
    font-weight: 800; }

  footer .mail {
    font-size: 1rem; } }
html,
body {
  width: 100%;
  overflow-x: clip;
  color: #1b1b1b;
  background: #fffbf3; }

img {
  width: 100%;
  display: block;
  margin: 0 auto; }

section {
  display: block;
  position: relative;
  z-index: 0;
  padding: 100px 0; }

.inner-wrap {
  padding: 0 3em;
  width: calc(100% - 6em);
  max-width: 1200px;
  margin: auto; }

.title-h1 a {
  color: #1b1b1b; }

.title-h2 {
  width: fit-content;
  text-align: center;
  margin: 0 auto 0.8em;
  color: #1b1b1b;
  text-shadow: 2px 2px 2px rgba(175, 156, 117, 0.7); }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: 0.3s; }
  header.active .header-wrap {
    height: 80px;
    background: rgba(255, 251, 243, 0.6);
    box-shadow: 0px 1px 4px 0px rgba(27, 27, 27, 0.2); }

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 5%;
  transition: 0.3s; }

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav-links li a {
    display: block;
    position: relative;
    color: #1b1b1b;
    margin: 0 1em;
    transition: all 0.2s ease-out; }
    .nav-links li a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      background: #1b1b1b;
      width: 100%;
      height: 1.5px;
      transform: scale(0, 1);
      transform-origin: center;
      transition: 0.2s; }
    .nav-links li a:hover::after {
      transform: scale(1, 1); }

.nav-menu-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  visibility: hidden; }

.nav-btn {
  display: none;
  width: 40px;
  height: 28px;
  margin: 1em 0;
  position: relative;
  cursor: pointer;
  z-index: 100;
  padding: 6px; }
  .nav-btn span {
    display: block;
    position: absolute;
    left: 6px;
    width: 40px;
    height: 2px;
    background: #1b1b1b;
    transition: 0.4s; }
    .nav-btn span:nth-of-type(1) {
      top: 6px; }
    .nav-btn span:nth-of-type(2) {
      top: 20px; }
    .nav-btn span:nth-of-type(3) {
      top: 34px; }
  .nav-btn.active span:nth-of-type(1) {
    transform: rotate(-315deg);
    top: 20px; }
  .nav-btn.active span:nth-of-type(2) {
    display: none; }
  .nav-btn.active span:nth-of-type(3) {
    transform: rotate(315deg);
    top: 20px; }

.mv {
  padding-top: 100px;
  padding-bottom: 2em; }

.mv-wrap {
  position: relative; }

.mv-img {
  display: block;
  width: 92%;
  height: calc(100vh - 100px - 5vh);
  object-fit: cover;
  margin: auto;
  border-radius: 20px;
  filter: brightness(0.9); }

.mv-title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  color: #f7f7f7;
  text-align: center;
  letter-spacing: 8px;
  text-shadow: 1px 1px 12px #1b1b1b;
  transform: translateY(-42%);
  animation: mvfade 1.2s ease forwards; }
  .mv-title span {
    display: block;
    letter-spacing: 3px;
    margin-top: 16px;
    opacity: 0.8; }
    .mv-title span::before {
      content: "";
      display: block;
      width: 1.5px;
      height: 30px;
      background: #f7f7f7;
      margin: 16px auto;
      box-shadow: 0 0 6px 0 rgba(27, 27, 27, 0.8); }

@keyframes mvfade {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: translateY(-42%) translateY(-10px); } }
.mv-scroll {
  position: absolute;
  z-index: 1;
  bottom: 6%;
  right: 6%;
  transform: rotate(90deg);
  transform-origin: right; }
  .mv-scroll .line {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 1.2px;
    background: rgba(247, 247, 247, 0.4); }
    .mv-scroll .line::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      animation: mvscroll 3s ease-in-out infinite;
      background: #f7f7f7;
      animation-fill-mode: forwards; }

@keyframes mvscroll {
  0% {
    transform: translateX(-100px) scaleX(0.8); }
  100% {
    transform: translateX(100px) scaleX(1); } }
.works-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em 5%; }
  .works-list .works-img {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(27, 27, 27, 0.2);
    border-radius: 10px;
    cursor: pointer; }
    .works-list .works-img::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.2);
      opacity: 0;
      transition: 0.3s;
      border-radius: 10px; }
    .works-list .works-img img {
      transition: 0.3s; }
    .works-list .works-img:hover::after {
      opacity: 1; }
    .works-list .works-img:hover img {
      transform: scale(1.03); }
  .works-list .kind {
    text-align: left;
    color: #7f7f7f;
    padding: 12px 0 0; }

.works-modal {
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 200;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .works-modal.active {
    opacity: 1;
    visibility: visible; }

.modal-close {
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
  color: #f7f7f7; }

.worksSwiper {
  position: relative;
  max-width: 800px;
  width: 90%;
  height: 85vh;
  z-index: 2; }
  .worksSwiper .swiper-slide {
    box-sizing: border-box;
    height: 100%;
    padding: 2em;
    border-radius: 20px;
    background: #f7f7f7;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; }
    .worksSwiper .swiper-slide::-webkit-scrollbar {
      display: none; }
  .worksSwiper img {
    width: 100%;
    margin: 1.5em auto;
    border-radius: 10px; }

.swiper-button-next,
.swiper-button-prev {
  color: #000; }

#skill {
  background: #f6f1e6; }

.skill-flex {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .skill-flex .item {
    box-sizing: border-box;
    width: 48%;
    background: #fff;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12); }
    .skill-flex .item .head {
      text-align: center;
      padding-bottom: 1em;
      letter-spacing: 1px;
      position: relative; }
      .skill-flex .item .head::after {
        content: "";
        display: block;
        width: 40px;
        height: 2px;
        background: #af9c75;
        margin: 10px auto 0; }
    .skill-flex .item .skill-list {
      padding-bottom: 1.8em;
      line-height: 1.8; }

.about-wrap {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 16px 0 rgba(27, 27, 27, 0.12); }

.about-img {
  width: 35%; }
  .about-img img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover; }

.about-text {
  width: 60%;
  text-align: left;
  line-height: 1.8; }
  .about-text p {
    margin-bottom: 0.8em; }
    .about-text p:last-of-type {
      margin-bottom: 0; }

footer {
  padding: 60px 0 30px;
  background: #f6f1e6;
  text-align: center; }
  footer .heading {
    color: #1b1b1b;
    text-shadow: 2px 2px 2px rgba(175, 156, 117, 0.7); }
  footer .contact-text {
    padding: 1em 0 3em; }
  footer .mail {
    display: block;
    padding: 0.8em;
    border: solid 2px #1b1b1b;
    max-width: 360px;
    width: calc(100% - 3em);
    margin: 1em auto 0;
    border-radius: 2em;
    letter-spacing: 1px;
    transition: 0.3s; }
    footer .mail:hover {
      background: #fff; }

.copyright {
  text-align: center; }

@media screen and (max-width: 920px) {
  section {
    padding: 80px 0; }

  header.active .header-wrap {
    height: 80px; }

  .nav-btn {
    display: block; }

  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 300px;
    width: 100%;
    height: 100%;
    background: #f6f1e6;
    align-items: center;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    will-change: transform; }
    .nav-menu.active {
      transform: translateX(0); }
      .nav-menu.active .nav-links li {
        opacity: 1;
        transform: translateX(0); }
        .nav-menu.active .nav-links li:nth-child(1) {
          transition-delay: 0.2s; }
        .nav-menu.active .nav-links li:nth-child(2) {
          transition-delay: 0.3s; }
        .nav-menu.active .nav-links li:nth-child(3) {
          transition-delay: 0.4s; }
        .nav-menu.active .nav-links li:nth-child(4) {
          transition-delay: 0.5s; }

  .nav-links {
    flex-direction: column; }
    .nav-links li {
      opacity: 0;
      transform: translateX(30px);
      transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.25, 1, 0.5, 1); }
      .nav-links li a {
        display: inline-block;
        margin: 1.5em 0; }

  .nav-menu-bg {
    display: block;
    overflow: hidden; }
    .nav-menu-bg.active {
      visibility: visible;
      opacity: 0.5; } }
@media screen and (max-width: 780px) {
  .works-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 4em 0; }

  .skill-flex {
    flex-direction: column; }
    .skill-flex .item {
      width: 100%;
      margin-bottom: 6%;
      border-radius: 10px; }

  .about-wrap {
    flex-direction: column;
    border-radius: 10px;
    padding: 3em 2em; }

  .about-img {
    max-width: 300px;
    width: 90%;
    margin: 0 auto 3em; }

  .about-text {
    width: 100%;
    margin: auto; } }
@media screen and (max-width: 450px) {
  .inner-wrap {
    padding: 0 1.5em;
    width: calc(100% - 3em); }

  section {
    padding: 60px 0; }

  header.active .header-wrap {
    height: 60px; }

  .header-wrap {
    height: 80px;
    padding: 0 3%; }

  .nav-btn {
    width: 36px;
    height: 24px; }
    .nav-btn span {
      width: 36px; }
      .nav-btn span:nth-of-type(1) {
        top: 6px; }
      .nav-btn span:nth-of-type(2) {
        top: 18px; }
      .nav-btn span:nth-of-type(3) {
        top: 30px; }

  .mv {
    padding-top: 80px; }

  .mv-img {
    width: 100%;
    border-radius: 0; }

  .title-h2 {
    margin: 0 auto 0.7em; }

  .works-list {
    gap: 3em 0; }

  footer {
    padding: 40px 0 30px; } }

/*# sourceMappingURL=style.css.map */
