@charset "utf-8";

*{
	margin:0;
	padding:0;
}

img{
	width: 100%;
	vertical-align:bottom;
	border-style:none;
}

body{
	font-family: "Sawarabi Mincho";
	background-color:#000;
	text-align: center;
}


header{
	position:fixed;
	top:0;
	z-index: 3;
	width:100%;
	background-color:#330000;
	opacity:0.9;

}

h1 img{
	padding-left:15%;
	display: block;
	width: 14vw;
	height: 5.5vw;
}

nav {
	display: flex;
	height: 5.5vw;
	justify-content: space-between;
	align-items: center;
  }


.nav-links {
	display: flex;
	justify-content: space-between;
	width: 40%;
	padding-right:5%;
	color: #fff;

  }
  
.nav-links :hover{
	color: #aaa;
}

.nav-links li {
	list-style: none;
	font-size: 1.6vw;
  }
  
.nav-links a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
  }

.hero img{
	width: 100%;
}


.box1{
	background-color:#fff;
	padding:10% 0;
}

.box1-1{
	display: flex;
	width: 90%;
	padding: 5%;
	justify-content: center;
	align-items: center;
}

.box1-1 img{
	width: 100%;
}

.boxa{
	font-size: 1.4vw;
	line-height:2.4;
	text-align:left;
	padding: 0 5%;
}



h3{
	text-align: center;
	color:#fff;
	font-size: 3vw;
}

.box2{
	padding:5% 0;
	background-color:#000;
}

.box2-2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	padding: 5%;
	text-align: center;
}

.box22{
	width: 27%;
	padding:1%;
	background-color:#fff;
	color:#000;
	border:solid 8px #000;
	font-size: 1.2vw;
}

.box22 img{
	width: 100%;
	aspect-ratio:1.3/1;
	object-fit: cover;
}

.box22 p{
	padding-top: 3%;
}

footer{
	background-color:#fff;
	color:#000;
}

.box3{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 8% 0;
}

.box33{
	width:10%;
	font-size: 1vw;
	border-left:solid 1px #000;
	padding:1% 0.5%;
	text-align: center;
}

.box33:nth-child(5){
	border-right:solid 1px #000;
}

.copy{
	font-size: 1vw;
	text-align: center;
	padding:1% 0;
	background-color: #000;
	color: #fff;
}

/*menu-top*/

.page1{
	color:#000;
	background-color:#fff;
	width:80%;
	margin:10% auto 5%;
	padding: 3% 0 5%;
}

h4{
	font-size: 2.5vw;
	margin: 10% 0 5%;
}

.box4{
	display: flex;
	text-align:left;
	justify-content: center;
	line-height:4.0;
	font-size: 1.2vw;
}

.box41{
	width:40%;
	padding-left: 15%;
}

.box42{
	width:25%;
	padding-left: 15%;

}

.time{
	font-size: 1.4vw;
	margin: 10% 0 3%;	
}

.menu-set{
	text-align: left;
	margin: 5% 17%;
	line-height: 3.0;
	font-size: 1.2vw;
}

.menu-last{
	margin-top: 12%;
	font-size: 1.1vw;
}

/*menu-back*/


/*access-top*/

.page2{
	color:#000;
	background-color:#fff;
	width:80%;
	margin:10% auto 5%;
	padding: 5% 0;
}

.page2 table{
	width: 70%;
	border-collapse:collapse;
	margin:auto;
	text-align:left;
}

.page2 th{
	width: 40%;
	padding: 4% 10%;
	border-bottom:solid 0.1vw #000;
	font-size: 1.4vw;
}

.page2 td{
	padding-left: 10%;
	border-bottom:solid 0.1vw #000;
	font-size: 1.2vw;
}

.map iframe{
	width:40vw;
	height:30vw;
}

.map{
	margin-top: 5%;
}

/*access-back*/


/*concept-top*/

.page3{
	color:#000;
	background-color:#fff;
	width: 80%;
	margin: 10% auto 5%;
	padding: 3% 0;
}

.box5{
	display: flex;
	justify-content: center;
	align-items: center;
	line-height:2.4;
	font-size:1.4vw;
	text-align:left;
	padding: 5%;
}

.box5a{
	font-size: 1.4vw;
	line-height:2.4;
	text-align:left;
	padding: 0 5%;
}

/*concept-back*/


/*contact-top*/

.page4{
	color:#000;
	background-color:#fff;
	width:80%;
	margin:10% auto 5%;
	padding: 5% 0;
}

.toiawase{
	font-size:2.5vw;
	margin-bottom: 6%;
}

.page4 span{
	display: inline-flex;
}

.page4 table{
	width: 70%;
	border-collapse:collapse;
	margin:auto;
	text-align:left;
}

.page4 th{
	width: 40%;
	padding: 4% 10%;
	border-bottom:solid 0.1vw #000;
	font-size: 1.4vw;
}

.page4 td{
	padding-left: 10%;
	border-bottom:solid 0.1vw #000;
	font-size: 1vw;
}

.change{
	width: 20vw;
	border:solid 0.1vw #000;
	color:#fff;
	font-size:1.5vw;
}

.change2{
	color:#fff;
	border:solid 0.1vw #000;
	font-size: 12vw;
	margin: 5% 0;
}	

.doui{
	width:25vw;
	height:15vw;
	margin: 5% 0;
	overflow:auto;
	border:solid 0.1vw #000;
	font-size:2vw;
	text-align:left;
}

.sousin img{
	width:10vw;
	height:5vw;
	margin:10% 0;
}

/*contact-back*/

@media screen and (max-width: 768px){
	.nav-links li {
		font-size: 2vw;
	}

	.boxa{
		font-size: 1.6vw;
	}

	.box33{
		font-size: 1.4vw;
	}

	.box5a{
		font-size: 1.6vw;
	}
}