@charset "utf-8";

body {
  @include font-base();
  font-size: unquote("clamp(14px, 1.6vw, 16px)");
}

input,
button {
  @include font-base();
}

.title-h1 {
  @include font-base(2rem, 800);
  font-family: "Zen Old Mincho", serif;
}

.title-h2 {
  @include font-base(4rem, 800);
  font-family: "Zen Old Mincho", serif;
}

.nav-links {
  @include font-base(1.25rem, 800);
  font-family: "Zen Old Mincho", serif;
}

.mv-title {
  font-size: unquote("clamp(2.4rem, 6vw, 4rem);");
  font-weight: 800;
  font-family: "Zen Old Mincho", serif;
  span {
    font-size: 0.9rem;
  }
}

.modal-close {
  font-size: 1.8rem;
}

.skill-flex {
  .item {
    .head {
      @include font-base(1.5rem, 600);
    }
    .skill-list {
      font-weight: 500;
    }
  }
}

footer {
  .heading {
    @include font-base(2rem, 800);
    font-family: "Zen Old Mincho", serif;
  }
  .mail {
    font-size: 1.25rem;
  }
}

.copyright {
  font-size: 0.8rem;
}

@media screen and (max-width: 920px) {
}

@media screen and (max-width: 450px) {
  body {
    font-weight: 500;
  }
  .title-h1 {
    font-size: 1.5rem;
  }
  .title-h2 {
    font-size: 3rem;
  }
  .skill-flex {
    .item {
      .skill-list {
        font-weight: 800;
      }
    }
  }
  footer {
    .mail {
      font-size: 1rem;
    }
  }
}
