@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}

body {
	font-family: "M PLUS Rounded 1c";
	background-color: #ff0;
}

.wrapper {
	width: 900px;
	margin: auto;
	background-color: #603813;
}

img {
	vertical-align: bottom;
}

ul {
	list-style-type: none;
}

nav li {
	float: left;
}

.navi a {
	display: block;
	width: 180px;
	height: 78px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.nav1 a {
	background-image: url(../images/nav1_home.png);
}

.nav2 a {
	background-image: url(../images/nav2_news.png);
}

.nav3 a {
	background-image: url(../images/nav3_event.png);
}

.nav4 a {
	background-image: url(../images/nav4_map.png);
}

.nav5 a {
	background-image: url(../images/nav5_access.png);
}

.navi a:hover {
	background-position: 0 78px;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

footer {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

footer ul {
	width: 810px;
	margin: auto;
}

footer li {
	float: left;
	width: 160px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.bdr {
	border-right: solid 2px #fff;
}

.copy {
	padding-bottom: 20px;
}



