@charset "utf-8";

*{
	margin:0;
	padding:0;
}

img{
	width: 100%;
	vertical-align:bottom;
	border-style:none;
}

body{
	background-color:#f7f7f7;
	text-align:center;
}

/*--------------------------------
ヘッダー
---------------------------------*/
header{
	position:fixed;
	top: 0;
	z-index:5;
	width:100%;
	background-color: #000;
	font-family:"Sawarabi Mincho";
  }
  
  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5.5vw;
  }
  
  h1 {
	margin-left:5%;
	font-size: 2.5vw;
  }

  h1 a{
	text-decoration: none;
	color: #ccc;
  }
  
  .nav-links {
	display: flex;
	width: 40%;
	padding-right:5%;
	justify-content: space-around;
	font-weight: bold;
  }
  
  .nav-links li {
	list-style: none;
	font-size: 1.5vw;
  }
  
  .nav-links a {
	position: relative;
	text-decoration: none;
	color: #fff;
	transition: color 0.3s ease-out;
  }

  .nav-links :hover{
	color:aqua;
}

.nav-links a::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: -0.5vw;
	background-color: aqua;
	width: 100%;
	height: 3%;
	transform: scale(0,1);
	transform-origin: center;
	transition: transform 0.3s ease-out;
}

.nav-links a:hover::after{
	transform: scale(1,1);
	transform-origin: center;

}

 .burger {
	display: none;
	cursor: pointer;
	margin:5%;
  }
  
  .burger div {
	width: 5vw;
	height: 0.6vw;
	background-color: #fff;
	margin: 20%;
	transition: 0.5s ease;
  }
  
  .nav-active {
	transform: translateX(0%) !important;
  }

/*--------------------------------
メイン
---------------------------------*/
.main{
	width: 50%;
	padding: 10% 5% 5%;
	margin:auto;
	background-color:#fff;
}

.mv img{
	width: 100%;
}

h2{
	margin:5% 0 10%;
	font-size:2.5vw;
	font-weight: bold;
}

.text1{
	text-align:left;
	margin-bottom:10%;
	font-size:1.2vw;
}

h3{
	text-align:left;
	font-size:1.5vw;
	font-weight: bold;
	margin-bottom: 2%;
}

.text2{
	text-align:left;
	margin-bottom:10%;
	font-size:1.2vw;
}

/*--------------------------------
 フッター
---------------------------------*/
footer{
	padding:1%;
	background-color:#000;
	font-family:"Sawarabi Mincho";
}

.copyright{
	font-size:1.5vw;
	color:#ccc;
}

/*--------------------------------
 width:768px 1024px
---------------------------------*/
@media screen and (max-width: 1024px) {
	nav{
		height: 7vw;
	}

	h1{
		font-size: 3vw;
	}

	.nav-links li {
		font-size: 2vw;
	}
}

@media screen and (max-width: 768px) {
	nav{
		height: 10vw;
	}

	h1{
		font-size: 4vw;
	}

	h2{
		font-size: 3.5vw;
	}

	h3{
		font-size: 3vw;
	}

	.text1{
		font-family:"Sawarabi Mincho";
		font-size: 2.5vw;
		margin: 15% 0;
	}

	.text2{
		font-family:"Sawarabi Mincho";
		font-size: 2.5vw;
		margin-bottom: 15%;
	}

	.nav-links{
		position: absolute;
		right: 0;
		height: 56vw;
		opacity: 0.8;
		top: 10vw;
		background-color: #000;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-links li {
		opacity: 0;
		font-size: 3vw;
		margin-left: 10%;
	}

	.burger {
		display: block;
	  }

	.main{
		width: 70%;
		padding-top: 20%;
	}

  }

  @keyframes navLinksFade {
	0% {
	  opacity: 0;
	  transform: translateX(50px);
	}
	100% {
	  opacity: 1;
	  transform: translateX(0px);
	}
  }
  
  .toggle .line1 {
	transform: rotate(-45deg) translate(-2.2vw, 0vw);
  }
  .toggle .line2 {
	opacity: 0;
  }
  .toggle .line3 {
	transform: rotate(405deg) translate(-2.2vw, 0vw);
  }